<ng-container *ngIf="!isLoading; else spinerModel">
  <div class="grid">
    <div class="col-12">
      <form [formGroup]="passwordForm" (ngSubmit)="submitChangePasswordForm()">
        <div class="profile_form">
          <div>
            <mat-form-field>
              <mat-label> {{'user.profile.current_password' | translate}}</mat-label>
              <input formControlName="current_password" matInput maxlength="20" />
            </mat-form-field>
            <mat-form-field>
              <mat-label> {{'user.profile.new_password' | translate}}</mat-label>
              <input formControlName="new_password" matInput maxlength="20" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'user.profile.repeat_password' | translate}}</mat-label>
              <input formControlName="repeat_password" matInput maxlength="20" />
            </mat-form-field>
          </div>
        </div>
  
        <div class="save-content">
          <div class="save-btn" [ngClass]="{'disabled':!passwordForm.valid}">
            <button class="btn btn-success save" [disabled]="!passwordForm.valid">
              {{'user.profile.save' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<ng-template #spinerModel>
  <div class="loader-block">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>