.loader-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
::ng-deep.mat-progress-spinner {
  width: 50px !important;
  height: 50px !important;
}
::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: blueviolet;
}
::ng-deep.mat-progress-spinner svg {
  width: 50px !important;
}
.profile_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0;
}
mat-label {
  margin-top: 5px;
}
.mat-input-element {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.822);
  border-radius: 3px;
}
.save-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
}
.save {
  font-size: 15px;
}
.disabled {
  opacity: 0.6;
  cursor: no-drop !important;
}