<div class="content">
  <i class="material-icons row_action" (click)="closeDialog()">close</i>
  <p>Are you sure you want to delete this {{_data.delete_item | uppercase}} ?</p>
  <h4>" {{_data.item_title}} "</h4>
  <div class="action_btns">
    <button class="btn btn-behance" (click)="dialogRef.close()">CANCEL</button>
    <button class="btn btn-danger" (click)="deleteItem()">
      <span *ngIf="isLoadingButton; else delete" class="spinner-border spinner-border-sm"></span>
      <ng-template #delete>
        <i class="fa fa-trash"></i>
        DELETE
      </ng-template>
    </button>
  </div>
</div>