<div class="content">
  <i class="material-icons row_action" (click)="closeDialog()">close</i>
  <p>{{'confirm_delete_dialog' | translate}} {{_data.delete_item | uppercase}} ?</p>
  <h4>" {{_data.item_title}} {{_data.item_second_title}} "</h4>
  <div class="action_btns">
    <button class="btn btn-behance" (click)="closeDialog()">{{'cancel' | translate}}</button>
    <button class="btn btn-danger" (click)="deleteItem()">
      <span *ngIf="isLoadingButton; else delete" class="spinner-border spinner-border-sm"></span>
      <ng-template #delete>
        <i class="fa fa-trash"></i>
        {{'delete' | translate}}
      </ng-template>
    </button>
  </div>
</div>