.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
p{
  font-size: 20px;
  font-weight: 400;
  padding: 5px 35px 5px 0;
}
h4{
  font-style: italic;
  margin-bottom: 20px;
}
.row_action{
  position: absolute !important;
  right: 0;
  top: 0;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.767);
  transition: transform .2s;
}
.row_action:hover{
  color: black;
  transform: rotate(90deg);
}
.action_btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  font-weight: bold;
}
.btn:hover{
  color: black;
}
.btn-behance, .btn-danger{
  font-weight: bold;
  font-size: 13px;
}
.btn-behance:hover{
  background-color: rgba(165, 165, 165, 0.5);;
}
.btn-danger:hover{
  background-color: #f44336bb;
}
.fa-trash{
  margin-right: 10px;
}
