<div class="user">
  <div class="image-keeper">
    <img class="image" alt="User Example" src="{{
      userData.avatar
        ? userData.avatar
        : 'assets/img/profile_dark.svg'
      }}"
    />
  </div>
  <div class="details_keeper">
    <div class="user_info_row">
      <div class="stat col">
        <div class="label">First name:</div>
        <div class="value" *ngIf="userData.first_name; else noItemModel">
          {{userData.first_name}}
        </div>
      </div>
      <div class="stat col">
        <div class="label">Last name:</div>
        <div class="value" *ngIf="userData.last_name; else noItemModel">
          {{userData.last_name}}
        </div>
      </div>
      <div class="stat col">
        <div class="label">Email:</div>
        <div class="value" *ngIf="userData.email; else noItemModel">
          {{userData.email}}
        </div>
      </div>
      <div class="stat col">
        <div class="label">Tax number:</div>
        <div class="value" *ngIf="userData.tax_identity_number; else noItemModel">
          {{userData.tax_identity_number}}
        </div>
      </div>
      <div class="stat col">
        <div class="label">Company name:</div>
        <div class="value" *ngIf="userData.company_name; else noItemModel">
          {{userData.company_name}}
        </div>
      </div>
      <ng-template #noItemModel>- - - - - - - - - - -</ng-template>
    </div>
  </div>
  <div class="actions_keeper">
    <a class="btn btn-link btn-danger btn-just-icon remove remove_action_icon" (click)="openDeleteDialog()"><i class="material-icons row_action">delete</i></a>
  </div>
</div>
