.user{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.753);
  padding-left: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0 15px;
}
.image-keeper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 100px;
  margin-right: 45px;
  cursor: pointer;
}
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.details_keeper{
  width: 100%;
}
.user_info_row{
  display: flex;
  flex-wrap: wrap;
}
.stat {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 150px;
  margin: 10px 15px 10px 0;
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.label {
  font-weight: bold;
}
.value {
  max-height: 60px;
  overflow-y: auto;
  color: black;
  font-size: 16px;
}
/* width */
.value::-webkit-scrollbar {
  width: 3px;
}
/* Track */
.value::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(163, 163, 163);
  border-radius: 10;
}
/* Handle */
.value::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, #b95aca, #8c15ad);
  border-radius: 5px;
}
.row_action:hover{
  background-color: rgba(189, 189, 189, 0.459);
  opacity: 0.9;
}
p{
  margin: 0;
  padding: 0;
}
.actions_keeper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 145px;
  width: 150px;
}
@media(max-width: 720px) {
  .value{
    font-size: 14px;
  }
}
@media(max-width: 555px) {
  .user{
    flex-direction: column;
    align-items: flex-start;
  }
  .actions_keeper{
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .image-keeper {
    margin-top: 10px;
  }
}