@import 'src/assets/styles/variables/colors';

.loader-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
::ng-deep.mat-progress-spinner {
  width: 50px !important;
  height: 50px !important;
}
::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: blueviolet;
}
::ng-deep.mat-progress-spinner svg {
  width: 50px !important;
}
.main-content {
  .tab-content{
    max-width: 800px;
  }
  .tab-content-header{
    display: flex;
    justify-content: space-between;
    .mark-read{
      cursor: pointer;
      &:hover{
        color: $main;
      }
    }
  }
  .notification_list {

    .unread {
      h5 {
        font-weight: 700;
        color: black;
      }
    }
    .unread_notification{
      cursor: pointer;

      &:hover{
        h5 {
          color: #9c27b0;
        }
      }
    }
    .notification_title{
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: #737373;
      word-wrap: break-word;
      margin-bottom: 8px;
    }
    .notification_message{
      display: block;
      margin-bottom: 5px;
    }
    .notification_date{
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: .05em;
      text-align: left;
      color: #7a819f;
    }
  }
}
