.social-line a:hover{
  background-color: rgba(77, 77, 77, 0.308);
  opacity: 0.9;
}
.card-footer button{
  background-color: #ec407a;
  color: white;
  font-size: 15px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.card-footer button:hover{
  background-color: #ec407a;
  color: white;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 25%), 0 3px 10px 0px rgb(233 30 99 / 40%);
}
.disabled {
  opacity: 0.6;
  cursor: no-drop !important;
}
.form-control{
  padding-left: 10px;
}
.btn-rose{
  position: relative;
}
.spinner-border{
  position: absolute;
  left: 10px;
  top: 10px;
}