<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card_title_part">
              <div class="card-icon">
                <i class="material-icons">auto_stories</i>
              </div>
            </div>
            <div class="header_action">
              <div class="filter">
                <p-multiSelect
                  [options]="_statuses"
                  [(ngModel)]="selectedStatuses"
                  defaultLabel="{{'course.filter_by_status' | translate}}"
                  optionLabel="label"
                  display="chip"
                  (onChange)="detectStatusChange(selectedStatuses)"
                ></p-multiSelect>
                <p-multiSelect
                  [options]="_types"
                  [(ngModel)]="selectedTypes"
                  defaultLabel="{{'course.filter_by_type' | translate}}"
                  optionLabel="label"
                  display="chip"
                  (onChange)="detectTypeChange(selectedTypes)"
                ></p-multiSelect>
              <span class="p-input-icon-right">
                <i class="pi pi-search" (click)="detectSearchSubmit(selectedStatuses, selectedTypes)"></i>
                <input
                  type="text"
                  pInputText
                  placeholder="{{'course.search_course' | translate}}"
                  [(ngModel)]="searchText"
                  (keypress)="$event.keyCode == 13 ? detectSearchSubmit(selectedStatuses, selectedTypes) : ''"
                />
              </span>
            </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngIf="!isLoading; else spinerModel">
              <table class="table table-hover" *ngIf="coursesData && coursesData.dataRows.length > 0; else noDataModel">
                <thead>
                  <tr>
                    <th class="header_th">{{'course.table.title' | translate}}</th>
                    <th class="header_th">{{'course.table.price' | translate}}</th>
                    <th class="header_th">{{'course.table.type' | translate}}</th>
                    <th class="header_th">{{'course.table.status' | translate}}</th>
                    <th class="header_th"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="body_row" *ngFor="let row of coursesData.dataRows" (click)="goCourseVerification(row)">
                    <td>{{row.title}}</td>
                    <td>
                      <span class="free" *ngIf="row.price < 1 ">{{'course.price.free' | translate}}</span>
                      <span class="price" *ngIf="row.price >= 1 ">
                        {{row.price | number}}
                        <span *ngIf="row.currency==='AMD'">֏</span>
                        <span *ngIf="row.currency==='USD'">$</span>
                      </span>
                    </td>
                    <td *ngIf="row.type">
                      <span class="type_style" *ngIf="row.type === courseTypes.ONLINE"
                        [style]="{ 'background-color': '#C585FF' }"
                      >
                        {{online}}
                      </span>
                      <span class="type_style" *ngIf="row.type === courseTypes.OFFLINE"
                        [style]="{ 'background-color': '#A5A6F6' }"
                      >
                        {{offline}}
                      </span>
                      <span class="type_style" *ngIf="row.type === courseTypes.ONLINE_WEBINAR"
                        [style]="{ 'background-color': '#b05ffc' }"
                      >
                        {{onlineWebinar}}
                      </span>
                      <span class="type_style" *ngIf="row.type === courseTypes.CONSULTATION"
                        [style]="{ 'background-color': '#8587fd' }"
                      >
                        {{consultation}}
                      </span>
                    </td>
                    <td *ngIf="row.type" >
                      <span class="status_style" *ngIf="row.status=== courseStatus.DRAFT"
                        [style]="{ 'background-color': 'rgb(243 123 123)' }"
                      >
                        {{draft}}
                      </span>
                      <span class="status_style" *ngIf="row.status=== courseStatus.UNDER_REVIEW"
                        [style]="{ 'background-color': 'rgb(199 201 30)' }"
                      >
                        {{underReview}}
                      </span>
                      <span class="status_style" *ngIf="row.status=== courseStatus.APPROVED"
                        [style]="{ 'background-color': 'rgb(128 197 138)' }"
                      >
                        {{approved}}
                      </span>
                      <span class="status_style" *ngIf="row.status=== courseStatus.DECLINED"
                        [style]="{ 'background-color': 'rgb(201, 70, 30)' }"
                      >
                        {{declined}}
                      </span>
                      <span class="status_style" *ngIf="row.status=== courseStatus.DELETED"
                        [style]="{ 'background-color': 'rgba(228, 17, 17, 0.719)' }"
                      >
                        {{deleted}}
                      </span>
                    </td>
                    <td class="action_td">
                      <span class="actions_keeper">
                        <a
                        class="btn btn-link btn-danger btn-just-icon deleteBtn"
                        pTooltip="{{'course.delete_course' | translate}}"
                        tooltipPosition="left"
                        (click)="openDeleteDialog(row.id, row.title, $event)"
                      ><i class="material-icons row_action">delete</i></a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #noDataModel>
                <div class="notData-block">
                  <p class="notData-text">{{errorMessage}}</p>
                </div>
              </ng-template>
            </div>
            <ng-template #spinerModel>
              <div class="loader-block">
                <mat-spinner></mat-spinner>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pagination
    *ngIf="coursesData && coursesData.dataRows.length > 0"
    [pageIndex]="currentPage - 1"
    [pageSize]="pageSize"
    [total]="totalPages"
    (pageChange)="pageChanged($event)"
  ></app-pagination>
</div>