<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card_title_part">
              <div class="card-icon">
                <i class="material-icons">vpn_key</i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="!isLoading; else spinerModel">
              <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">

                <div class="profile_form">
                  <div>
                    <mat-form-field >
                      <mat-label> {{'user.profile.new_password' | translate}}</mat-label>
                      <input formControlName="new_password" matInput/>
                    </mat-form-field>
                    <mat-form-field >
                      <mat-label>{{'user.profile.repeat_password' | translate}}</mat-label>
                      <input formControlName="repeat_password" matInput/>
                    </mat-form-field>
                  </div>
                </div>

                <div class="save-content">
                  <div class="save-btn" [ngClass]="{'disabled':!changePasswordForm.valid}">
                    <button class="btn btn-success save" [disabled]="!changePasswordForm.valid">
                      {{'user.profile.save' | translate}}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <ng-template #spinerModel>
              <div class="loader-block">
                <mat-spinner></mat-spinner>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>