<li class="nav-item dropdown">
  <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons">notifications</i>
    <span class="notification">5</span>
    <p>
      <span class="d-lg-none d-md-block">Some Actions</span>
    </p>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item">Mike John responded to your email</a>
    <a class="dropdown-item">You have 5 new tasks</a>
    <a class="dropdown-item">You're now friend with Andrew</a>
    <a class="dropdown-item">Another Notification</a>
    <a class="dropdown-item">Another One</a>
  </div>
</li>