.sidebar-wrapper{
  height: 100%;
  overflow-y: scroll;
}
/* width */
.sidebar-wrapper::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.sidebar-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(163, 163, 163);
  border-radius: 5px;
}
/* Handle */
.sidebar-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(60deg, #ffffff, #c7c7c7);
  border-radius: 5px;
}
.logo-normal{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.toggle_sections, #collapseExample {
  cursor: pointer;
}
.toggle_sections {
  margin-left: 25px;
}
.logout{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loader-block,
.loader-block:after {
  position: absolute;
  border-radius: 50%;
  right: 5%;
  top: 7%;
  width: 18px;
  height: 18px;
}
.loader-block {
  font-size: 2px;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#collapseExample{
  margin-left: 35px;
}