<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card_title_part">
              <div class="card-icon">
                <i class="material-icons">person</i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="!isLoading; else spinerModel">
              <p-tabView>
                <p-tabPanel header="{{'user.profile.profile_info' | translate}}">
                  <app-profile-info [userData]="userData"></app-profile-info>
                </p-tabPanel>
                <p-tabPanel header="{{'user.profile.edit_profile' | translate}}">
                  <app-edit-profile [userData]="userData"></app-edit-profile>
                </p-tabPanel>
                <p-tabPanel header="{{'user.profile.change_password' | translate}}">
                  <app-change-password [userId]="userData.id"></app-change-password>
                </p-tabPanel>
              </p-tabView>
            </div>
            <ng-template #spinerModel>
              <div class="loader-block">
                <mat-spinner></mat-spinner>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>