.loader-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
::ng-deep.mat-progress-spinner {
  width: 50px !important;
  height: 90px !important;
}
::ng-deep.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: blueviolet;
}
::ng-deep.mat-progress-spinner svg {
  width: 50px !important;
}