<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">dashboard</i>
                  </div>
                </div>
                  <div class="card-body">
                    <div class="table-responsive" *ngIf="!isLoading; else spinerModel">

                    </div>
                    <ng-template #spinerModel>
                      <div class="loader-block">
                        <mat-spinner></mat-spinner>
                      </div>
                    </ng-template>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
