<div class="dialog">
    <div class="content">
        <p class="text">Are you sure you want to delete this category?</p>
        <div class="actions">
            <div class="buttons">
                <!-- <button class="btn">{{'confirm_dialog.yes' | translate}}</button>
                <button class="btn">{{'confirm_dialog.no' | translate}}</button> -->
                <button (click)="closeDialog(true)" class="btn">Yes</button>
                <button (click)="closeDialog(false)" class="btn">No</button>
            </div>
        </div>
    </div>
</div>
