<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card_title_part">
              <div class="card-icon">
                <i class="material-icons">category</i>
              </div>
            </div>
            <button mat-raised-button class="btn btn-success create-new-category" (click)="addCategory()">{{'category_table.add_category' | translate}}</button>
          </div>
          <div class="card-body">
            <div class="table" *ngIf="!isLoading; else spinerModel">
              <div class="table-header table-row">
                <div class="td"></div>
                <div class="td">{{'category_table.title' | translate}}</div>
                <div class="td">{{'category_table.title' | translate}} (AM)</div>
                <div class="td">{{'category_table.ordering' | translate}}</div>
                <div class="td action">{{'category_table.edit' | translate}}</div>
                <div class="td action">{{'category_table.delete' | translate}}</div>
              </div>
              <div class="table-row" *ngFor="let row of categoriesData; let rowIndex = index">
                <div [class.clickable]="isRowClickable(rowIndex)">

                  <div (click)="expanded[row.id] = !expanded[row.id]" class="td">
                    <span *ngIf="isRowClickable(rowIndex)">
                      <a><i class="material-icons toggle_arrow" *ngIf="expanded[row.id]">expand_less</i></a>
                      <a><i class="material-icons toggle_arrow" *ngIf="!expanded[row.id]">expand_more</i></a>
                    </span>
                  </div>
                  <div (click)="expanded[row.id] = !expanded[row.id]" class="td">{{row.title}}</div>
                  <div (click)="expanded[row.id] = !expanded[row.id]" class="td">{{row.title_am}}</div>
                  <div (click)="expanded[row.id] = !expanded[row.id]" class="td">{{row.ordering}}</div>
                  <div class="td child-action">
                    <a
                      class="btn btn-link btn-warning btn-just-icon editBtn"
                      pTooltip="{{'category.edit_category' | translate}}"
                      tooltipPosition="left"
                      (click)="editCategory(row)"
                    ><i class="material-icons">edit</i></a>
                  </div>
                  <div  class="td child-action">
                    <a
                      class="btn btn-link btn-danger btn-just-icon deleteBtn"
                      pTooltip="{{'category.delete_category' | translate}}"
                      tooltipPosition="left"
                      (click)="deleteCategory(row, false)"
                    ><i class="material-icons">delete</i></a>
                  </div>
                  <div [@detailExpand]="expanded[row.id] ? 'expanded' : 'collapsed'">
                    <div  class="child-row" *ngFor="let childrow of row.children">
                      <div class="td"></div>
                      <div class="td child">{{childrow.title}}</div>
                      <div class="td child">{{childrow.title_am}}</div>
                      <div class="td child">{{childrow.ordering}}</div>
                      <div  class="td child child-action">
                        <a
                          class="btn btn-link btn-warning btn-just-icon editBtn"
                          pTooltip="{{'category.edit_category' | translate}}"
                          tooltipPosition="left"
                          (click)="editCategory(childrow)"
                        ><i class="material-icons">edit</i></a>
                      </div>
                      <div  class="td child child-action">
                          <a
                          class="btn btn-link btn-danger btn-just-icon deleteBtn"
                          pTooltip="{{'category.delete_category' | translate}}"
                          tooltipPosition="left"
                          (click)="deleteCategory(childrow, true)"
                        ><i class="material-icons">delete</i></a>
                      </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <ng-template #spinerModel>
              <div class="loader-block">
                <mat-spinner></mat-spinner>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>